<template name="verified">
    <div class="ui centered grid">
        <div class="row">
            <div class="four wide column"></div>
            <div class="eight wide center aligned column">
            </div>
            <div class="four wide column"></div>
        </div>
        <div class="row">
            <div class="four wide column"></div>
            <div class="eight wide center aligned black column">
                <label class="ui large inverted orange header">Dein Account wurde erfolgreich aktiviert!</label>
            </div>
            <div class="four wide column"></div>
        </div>
    </div>
</template>