<template name="autocomplete">
    <div class="five wide black column">
        <form class="ui inverted form">
            <div class="inline fields">
                <div class="twelve wide field">

                    <input id="search" placeholder="Produktionstitel" type="text" value="">
                </div>
                <div class="two wide field">
                    <div class="ui small submit button" id="">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>