<template name="cutView">
    <form class=" ui form">
        <div class="ui stackable sixteen column grid">
            <div class="row"></div>
            <div class="row">
                <div class="one wide column"></div>
                <div class="fourteen wide column">
                    <h3 class="ui dividing header">Schnitt</h3>
                </div>
                <div class="one wide column"></div>
            </div>
            {{#each cutDates}}
                <div class="row">
                    <div class="one wide column"></div>
                    <div class="fourteen wide column">
                        <div class="three wide field">
                            <label class="ui black small header">{{incremented @index}}. Schnitt-Termin</label>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="one wide column"></div>
                <div class="fourteen wide column">
                    <div class="inline fields">
                        <div class="three wide field">
                            <label class="ui orange small header">Schnittraum</label>
                        </div>
                        <div class="field">
                            {{schnittraum}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="one wide column"></div>
                <div class="seven wide column">
                    <div class="inline fields">
                        <div class="six wide field">
                            <label class="ui orange small header">Start</label>
                        </div>
                        <div class="ten wide field">
                            {{start}} Uhr
                        </div>
                    </div>
                </div>
                <div class="seven wide column">
                    <div class="inline fields">
                        <div class="six wide field">
                            <label class="ui orange small header">Ende</label>

                        </div>
                        <div class="ten wide field">
                            {{end}} Uhr
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="one wide column"></div>
                <div class="fourteen wide column">
                    <div class="inline fields">
                        <div class="three wide field">
                            <label class="ui orange small header">Cutter</label>
                        </div>
                        <div class="four wide field">
                            {{cutter}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="one wide column"></div>
                <div class="fourteen wide column">
                    <div class="inline fields">
                        <div class="three wide field">
                            <label class="ui orange small header">Besonderheiten</label>
                        </div>
                        <div class="field">
                            {{besonderheiten}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="row">
                <div class="one wide column"></div>
                <div class="eleven wide column"></div>
                <div class="one wide column">
                    <div class="field">
                        <div class="ui orange right labeled icon medium button" id="editCut">
                            Bearbeiten<i class="edit icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</template>
